@font-face {
  font-family: "Vitro_core";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

h1 {
  border-right: solid 3px rgba(63, 67, 68, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Vitro_core", monospace;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}

/* Animation */
h1 {
  animation: animated-text 6s steps(30, end) 1s 1 normal both,
    animated-cursor 600ms steps(30, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 380px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

body {
  background: linear-gradient(to right, #0ed5ae, #ae5ea0);
  font-family: "Vitro_core";
}

.me {
  font-size: 11px;
  text-align: center;
}

.caution {
  font-size: 15px;
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
}

.question {
  display: none;
}

.result {
  display: none;
}

#img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.share {
  margin: 0 auto;
}

.kakao_ad {
  width: 320px;
  margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

.banner-img {
  width: 300px;
}
