<<<<<<< HEAD
article {
    display: flex;
    flex-direction: column;
}

.question{
    display: none;
}

.result{
    display: none;
}

=======
article {
    display: flex;
    flex-direction: column;
}
/* 
.question{
    display: none;
} */



>>>>>>> 4ee6296d1028cdfeda56e3dc68df833949f48f95
