/*body{
    height: auto;
    background-image: linear-gradient(45deg, #b9aeae 20%, #FF9FA0);
}*/

article {
    display: flex;
    flex-direction: column;
}

.question{
    display: none;
}

.result{
    display: none;
}

#img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}